@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

:root {
  --background: #4B0082 ;
  --foreground: hsl(0, 0%, 100%); 
  --headercolor: #2c293791;
  --font-color: #E6E6FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --headercolor: #00bff0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* height: 2000px; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .header-color{
    background-color: var(--headercolor);
  }
  .border-color{
    position: relative;
    padding-bottom: 2px;
  }
  .border-color:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--font-color);
    visibility: visible;
    -webkit-transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .border-color:hover:before{ 
    transform: scaleX(1);
  }
  .custom-text {
    color: var(--font-color);
  } 
  .test{
    height: 300px;
  }
  .img-bounce{
    animation: imgbounce 4s infinite;
  }
  @keyframes imgbounce {
    0% {
     transform: translateY(0);
    }
    50% {
     transform: translateY(-30px);
    }
    
    100% {
     transform: translateY(0);
    }
   }

   .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(55, 1, 97, 0.6) no-repeat center/cover;
    /* z-index: -1; */
  }
   
}
